header {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* text-align: center; */
}

figure {
  text-align: center;
  font-size: 15px;
}

nav > a {
  background-color: rgb(170, 170, 170);
  padding-left: 10px;
  padding-right: 10px;
}
/* Only the paragraphs need to come in a bit from the main section */

#featured-property > p {
  text-align: center;
  width: 800px;
}

/* div {
  text-align: center;
} */
